header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
  border-bottom: 1px solid Black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
}

.logo{
display: flex;
align-items: center;
padding-left: 30px;
flex-grow: 1
}

.logo p{
  padding-left: 10px;
  color: MediumAquamarine;
}

header nav{
  padding-right: 40px;
}

nav span{
  display: inline-block;
  flex-wrap: wrap;
  padding: 10px;
}

nav a{
  color: black;
}

.main-content{
  border: 1px solid black;
  padding-top: 120px;
  margin: 0 auto 78px auto;
  display: flex;
  width: 1232px;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.art-text{
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-text{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.column-1{
  width: 630px;
  border: 1px solid black;
}

.main-image{
  display: flex;
  background-image: url(../images/img-story-main.png);
}

.earth-spins-image{
  display: flex;
  background-image: url(../images/img-story-2.png);
}

.camaras-erase-image{
  background-image: url(../images/img-story-3.png);
}

.column-2 {
  width: 300px;
  border: 1px solid black;
}

.cat-image{
background-image: url(../images/img-story-1.png);
}

.column-3{
  height: 100%;
  width: 240px;
  border: 1px solid black;

}

.article-1{
border: 1px solid black;
}

.article{
border: 1px solid black;
}

.sub-art{
border: 1px solid black;
}

.art-text{
border: 1px solid black;
}

.image{
border: 1px solid black;
}

.art-foot{
border: 1px solid black;
}
